{{>header}}
<div class="container my-5">
  <h1 class="mb-3">{{msg}}</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsam ipsum, illum optio nulla,
    numquam tempora
    suscipit, cum fugiat harum beatae blanditiis. Omnis soluta, adipisci ea iste nesciunt dolor minima.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsam ipsum, illum optio nulla, numquam tempora
    suscipit, cum fugiat harum beatae blanditiis. Omnis soluta, adipisci ea iste nesciunt dolor minima.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsam ipsum, illum optio nulla, numquam tempora
    suscipit, cum fugiat harum beatae blanditiis. Omnis soluta, adipisci ea iste nesciunt dolor minima.</p>
  {{>footer}}
</div>